@model TaskManagement.Models.Project

@{
    ViewData["Title"] = "Delete " + Model.Title;
}

<h3>Are you sure you want to delete project @Model.Title?</h3>
<h3 style="color:red">This will also delete all tasks associated with this project!</h3>
<div> 
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
