@model IEnumerable<TaskManagement.Models.Project>

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<p>
    <a class="btn btn-purple" asp-action="Create">Create New Project</a>
</p>
<table class="table row-spacing">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-card">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="btn-table-group">
                <a class="btn btn-purple" asp-action="Edit" asp-route-id="@item.ID"><i class="bi bi-pencil"></i></a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
